* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbdb0f;
}

li, a, button {
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100vw;
    padding: 30px 3%;
    background-color: #2a2a2a;
}

.signin {
    background-color: #fbdb0f;
    color: #2a2a2a;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signin:hover {
    background-color:#fbdb0fdc;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #fbdb0f;
}

.hero {
    display: flex;
    align-items: center;
    gap: 10%;
padding: 8% 10% ;
    min-height: 80vh;
}

.hero-text {
    flex: 1;
    width: 60%;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 40%;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 5.5vw, 10rem);
    font-weight: 800;
    color:#141414;
    line-height: 1;
    margin-bottom: 1rem;
    text-shadow: 6px 2px 1px #efb627;
}

.hero-text p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: #141414;
    line-height: 1.7;
    margin-bottom: 1rem;
    max-width: 480px;
}

.start-shopping {
    display: inline-block;
    background-color:#2a2a2a;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 800px;
    cursor: pointer;
    transform: scale(1);
    animation: Scale-out 1s;

}

.start-shopping:hover {
    animation: Scale 1s;
    transform: scale(1.1);
}

@keyframes Scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes Scale-out {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 850px) {
    .hero {
        flex-direction: column;
        padding: 3rem 1.5rem;
        text-align: center;
    }

    .hero-image {
        order: -1;
    }

    .hero-text p{
        margin-inline: auto;
    }
}


footer {
    background-color: rgb(62, 60, 60);
}

